<div class="navbar">
  <%= render 'shared/navbar'%>
</div>

<div class="header">
  <div class="header-content">
    <h1>NAO</h1>
    <%= render 'shared/create_btn' %>
  </div>
</div>

<div class="card-container">
  <%= render 'shared/card' %>
</div>

<div class="footer">
  <%= render 'shared/footer' %>
</div>
