<footer>
  <span>
    <a href="mailto:valeriea2@wanadoo.fr">Contactez-nous</a>
  </span>
  <span>
    <a href="#">Administrateur</a>
  </span>
  <span>
    <a href="https://sante-sociaux.cfdt.fr/", target="_blank">Site Cfdt Santé Sociaux</a>
  </span>
</footer>
