<nav>
  <div class="nav-logo">
    <%= image_tag "logo.gif", class: "nav-icon" %>
  </div>
  <div class="nav-content">
    <div class="odd-links">
      <p><%= link_to "Actualités", root_path, class: "navbar-odd-link" %></p>
    </div>
    <div class="even-links">
      <p>NAO</p>
    </div>
    <div class="odd-links">
      <p>Vos élus</p>
    </div>
    <div class="even-links">
      <p>Accords d'entreprise</p>
    </div>
    <div class="odd-links">
      <p>Rejoignez-nous</p>
    </div>
  </div>
</nav>
